h1 {
    color: red;
}

body {
    margin: auto;
    width: 50%;
    text-align: left;
}

html {
    background-color: blanchedalmond;
}

#about_me {
    padding-bottom: 10px;
}

#fav_restaurant {
    font-size: 14px;
}

#fav_place {
    font-style: italic;
}

img {
    width: 100%;
}

form {
    width: 50%;
    text-align: right;
}

#form {
    display: flex;
    justify-content: center;
}
